#app {
  position: relative;
  width: 100%;
  height: 100%;
}

.app-background {
  position: absolute;
  top: --spacing(0);
  left: --spacing(0);
  background: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 10%,
    var(--app-primary-20) 100%
  );
  width: 100%;
  height: 100%;

  &::before {
    position: absolute;
    top: -65vw;
    left: 0;
    background: radial-gradient(
      circle at 0% 0%,
      var(--app-blue-20) 0%,
      var(--app-blue-20) 30%,
      transparent 70%,
      transparent 100%
    );
    width: 100vw;
    height: 100vw;
    content: '';
  }

  &::after {
    position: absolute;
    top: -32vw;
    right: 0vw;
    background: radial-gradient(
      circle at 100% 0%,
      var(--app-blue-20) 0%,
      var(--app-blue-20) 8%,
      transparent 50%,
      transparent 100%
    );
    width: 100vw;
    height: 100vw;
    content: '';
  }
}

#app-top-sticky {
  position: sticky;
  z-index: 10;
  transition-duration: 150ms;
  width: 100%;
}

#app-root .app-layout-horizontal-container {
  width: var(--app-main-content-width);
}

#app-root .app-layout-container-root {
  display: flex;
  justify-content: center;
  width: 100%;
}

#app-root.page-has-aside .app-layout-container-root {
  padding-right: calc(
    100% - (100% - var(--app-screen-max-width)) / 2 - var(--app-side-menu-width) -
      var(--app-main-content-width) - var(--app-main-content-padding-x) * 2
  );
  padding-left: calc(
    (100% - var(--app-screen-max-width)) / 2 + var(--app-side-menu-width) +
      var(--app-main-content-padding-x)
  );
}

#app-root.page-wide .app-layout-horizontal-container {
  padding-right: var(--app-side-menu-minimize-width);
  padding-left: var(--app-side-menu-minimize-width);
  width: 100%;
  max-width: var(--app-screen-max-width);
}

@media (max-width: 880px) {
  #app-root.page-wide .app-layout-horizontal-container {
    padding-right: --spacing(0);
    padding-left: --spacing(0);
  }
}

@media (max-width: 816px) {
  #app-top-sticky {
    position: relative;
  }

  #app-root .app-layout-horizontal-container {
    width: 100%;
  }
}

.app-layout-main--container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  padding-bottom: --spacing(16);
}

@media (min-width: 880px) {
  .app-layout-main--container.page-two-columns {
    flex-direction: row;
    padding-left: var(--app-side-menu-minimize-width);
    width: 100%;
    max-width: none;
    height: 100%;

    & > .two-columns-column {
      margin-right: --spacing(1);
      box-shadow: var(--shadow-xs);
      border-width: 2px;
      border-color: var(--color-primary-30);
      width: 50%;
      height: 100%;
      overflow-y: auto;
    }
  }
}

.app-layout-main--aside {
  position: fixed;
  top: 0;
  right: calc(-1 * var(--app-layout-main--aside-scroll-width-extra));
  padding-right: calc(1rem + var(--app-layout-main--aside-scroll-width-extra));
  width: calc(
    100% - (100% - var(--app-screen-max-width)) / 2 - var(--app-side-menu-width) -
      var(--app-main-content-width) - var(--app-main-content-padding-x) * 2
  );
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  --app-layout-main--aside-scroll-width-extra: 0.5rem;
}

/* bottom */
.app-layout--bottom {
  position: sticky;
  bottom: --spacing(0);
  z-index: 20;
  padding: --spacing(2);
  pointer-events: none;

  @variant wd {
    position: fixed;
  }
}

/* float layout */
.app-layout-float-page-wrapper {
  position: fixed;
  top: --spacing(0);
  left: --spacing(0);
  z-index: 49;
  background-color: var(--app-body-bg-color);
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.app-layout-float-page {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: 100%;
  max-width: var(--app-screen-max-width);
  height: 100%;
  pointer-events: auto;
}

/* ==== container ==== */
.app-layout-float-page--container {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 0;
}

.app-layout-float-page--side {
  flex-shrink: 0;
  padding-block: --spacing(4);
  width: 100%;
  max-width: var(--app-layout-float-page--side-width, auto);
  height: 100%;
}

/* ==== content ==== */
.app-layout-float-page--content-tabs-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: --spacing(8);
  width: 100%;
  height: 100%;

  & > .app-layout-float-page--content {
    padding-top: --spacing(6);
    padding-left: --spacing(0);
  }

  &:first-child {
    flex-shrink: 0;
  }
}

.app-layout-float-page--content {
  display: flex;
  padding-block: --spacing(4);
  padding-left: --spacing(8);
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

/* ==== content/inner ==== */
.app-layout-float-page--main {
  flex-shrink: 0;
  width: 100%;
  max-width: var(--app-layout-float-page--main-width, auto);
  height: 100%;
}

.app-layout-float-page--sub {
  width: 100%;
  max-width: var(--app-layout-float-page--sub-width, auto);
  height: 100%;
}

.app-layout-float-page--content-top {
  display: none;
}

@media (max-width: 93rem) {
  .app-layout-float-page-wrapper {
    z-index: 51;
  }
}

@media (max-width: 55rem) {
  .app-layout-float-page--container {
    display: block;
    overflow-y: auto;
  }

  .app-layout-float-page--side,
  .app-layout-float-page--content-tabs-wrapper,
  .app-layout-float-page--content,
  .app-layout-float-page--main {
    height: auto;
  }

  .app-layout-float-page--content-top {
    display: block;
    height: --spacing(4);
  }

  .app-layout-float-page--content-tabs-wrapper {
    padding-top: --spacing(8);
    padding-left: --spacing(0);
  }

  .app-layout-float-page--content {
    padding-top: --spacing(8);
    padding-left: --spacing(0);
  }

  .app-layout-float-page--sub {
    height: calc(100vh - 8rem);
  }
}

@media (max-width: 30rem) {
  .app-layout-float-page--content {
    display: block;
    padding-top: --spacing(4);
    overflow-y: visible;
  }

  .app-layout-float-page--main {
    padding-bottom: --spacing(8);
  }
}

/* side float */
.app-layout--side-float-wrapper {
  display: flex;
  position: fixed;
  top: --spacing(0);
  left: --spacing(0);
  justify-content: flex-end;
  z-index: 49;
  background-color: --alpha(var(--color-gray-30) / 25%);
  width: 100%;
  height: 100%;
}

.app-layout--side-float {
  background-color: var(--app-body-bg-color);
  width: 80vw;
  height: 100%;
  overflow-y: auto;

  @variant wd {
    width: 100%;
    max-width: 40rem;
  }
}
