.cy-button-base {
  --button-color-main: var(--app-primary-60);
  --button-color-main-light: var(--app-primary-30);
  --button-color-text: var(--button-color-main);
  --button-color-icon: var(--button-color-main-light);
  --button-color-icon-hover: var(--button-color-main);
  --button-color-border: var(--button-color-main-light);
  --button-color-border-hover: var(--button-color-main);
  --button-icon-size: 1.25rem;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  transition-duration: 200ms;
  cursor: pointer;
  border-width: 0;
  border-color: var(--button-color-border);
  color: var(--button-color-text);
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);

  & .cy-button-base-icon {
    --icon-size: var(--button-icon-size);
    flex-shrink: 0;
    transition-duration: 200ms;
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--button-color-icon);
  }

  &:hover,
  &.button-selected {
    border-color: var(--button-color-border-hover);

    & .cy-button-base-icon {
      color: var(--button-color-icon-hover);
    }
  }

  &:active {
    opacity: 75%;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:focus-visible {
    outline-color: var(--color-primary-30);
  }

  &.theme-primary {
    --button-color-text: var(--app-primary-70);
  }

  &.theme-bright {
    --button-color-main: var(--app-primary-60);
    --button-color-main-light: var(--app-primary-30);
  }

  &.theme-secondary {
    --button-color-main: var(--app-primary-30);
    --button-color-main-light: var(--app-primary-20);
  }

  &.theme-cyan {
    --button-color-main: var(--app-cyan-60);
    --button-color-main-light: var(--app-cyan-30);
  }

  &.theme-blue {
    --button-color-main: var(--app-blue-60);
    --button-color-main-light: var(--app-blue-30);
  }

  &.theme-fuchsia {
    --button-color-main: var(--app-fuchsia-60);
    --button-color-main-light: var(--app-fuchsia-30);
  }

  &.theme-violet {
    --button-color-main: var(--app-violet-60);
    --button-color-main-light: var(--app-violet-30);
  }

  &.theme-orange {
    --button-color-main: var(--app-orange-60);
    --button-color-main-light: var(--app-orange-30);
  }

  &.theme-emerald {
    --button-color-main: var(--app-emerald-60);
    --button-color-main-light: var(--app-emerald-30);
  }

  &.theme-gray {
    --button-color-main: var(--app-gray-60);
    --button-color-main-light: var(--app-gray-30);
  }

  &.theme-red {
    --button-color-main: var(--app-red-60);
    --button-color-main-light: var(--app-red-40);
  }
}

/* button action */
.cy-button-action {
  position: relative;
  box-shadow: 0.125rem 0.125rem 0 0 var(--button-color-main-light);
  border-width: 1px;
  border-radius: var(--radius-sm);
  background-color: var(--color-white);
  padding-inline: --spacing(4);
  padding-block: --spacing(1.5);

  &.button-selected {
    box-shadow: 0.125rem 0.125rem 0 0 var(--button-color-main);
  }
}

/* button check */
.cy-button-check {
  transition-duration: 200ms;
  border-radius: calc(infinity * 1px);

  &:focus:not(:active) {
    background-color: --alpha(var(--color-primary-30) / 20%);
  }
}

/* button circle */
.cy-button-circle {
  justify-content: center;
  border-width: 1px;
  border-radius: calc(infinity * 1px);
  background-color: var(--color-white);
  width: --spacing(11);
  height: --spacing(11);
  --button-icon-size: 1.25rem;
  box-shadow:
    1px 3px 1px -2px rgba(0, 0, 0, 0.1),
    1px 2px 2px 0 rgba(0, 0, 0, 0.07),
    1px 1px 5px 0 rgba(0, 0, 0, 0.06);

  &.button-small {
    width: --spacing(9);
    height: --spacing(9);
    --button-icon-size: 1rem;
  }

  &.button-float {
    box-shadow: var(--shadow-md);
  }
}

/* button dropdown */
.cy-button-dropdown-wrapper {
  transition-duration: 200ms;
  border-left-width: 4px;
  border-color: var(--color-primary-30);

  &.content-visble {
    border-color: var(--color-primary-30);
  }
}

.cy-button-dropdown-main {
  padding-inline: --spacing(3);
  padding-block: --spacing(2);
}

/* button icon-action */
.cy-button-icon-action {
  position: relative;
  box-shadow: 0.125rem 0.125rem 0 0 var(--button-color-main-light);
  border-width: 1px;
  border-radius: var(--radius-sm);
  background-color: var(--color-white);
  padding: --spacing(2.5);
}

/* button icon */
.cy-button-icon {
  transition-duration: 200ms;
  border-radius: calc(infinity * 1px);
  color: var(--button-color-icon);

  & .cy-button-base-icon {
    color: currentcolor;
  }

  &:hover,
  &.button-selected {
    color: var(--button-color-icon-hover);

    & .cy-button-base-icon {
      color: currentcolor;
    }
  }

  &:focus:not(:active) {
    background-color: --alpha(var(--color-primary-30) / 20%);
  }
}

/* button plain */
.cy-button-plain {
  --button-color-text: var(--button-color-main-light);
  --button-color-text-hover: var(--button-color-main);

  &:hover,
  &.button-selected {
    color: var(--button-color-text-hover);
  }

  &.button-width-full {
    width: 100%;
  }

  &.theme-secondary {
    --button-color-main: var(--app-primary-60);
    --button-color-main-light: var(--app-primary-30);
  }
}

/* button radio */
.cy-button-radio {
  transition-duration: 200ms;
  border-radius: calc(infinity * 1px);

  &:focus:not(:active) {
    background-color: --alpha(var(--color-primary-30) / 20%);
  }
}

/* button toggle */
.cy-button-toggle {
  transition-duration: 200ms;
  border-radius: calc(infinity * 1px);
  --button-icon-size: 2rem;

  &:focus:not(:active) {
    background-color: --alpha(var(--color-primary-30) / 20%);
  }

  & > .cy-button-toggle-icon {
    margin-block: --spacing(-3);
  }
}
