{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": 'usage',
                "corejs": 3,
                "targets": {
                    "safari": '9.0'
                }
            }
        ],
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}