#Home {
    margin-bottom: 2rem;
}

.main-content > section {
    padding: 0.6rem;
    display: flex;
}
.main-content > section > div {
    border: 1px solid transparent;
    width: 20rem;
}
.main-content > section > .picture {
    border: 1px solid var(--primary-light-2);
    height: 12rem;
}

.main-content > section > .caption {
    padding: 0 1.2rem;
}
.main-content > section > .caption > .top {
    margin: 0.4rem 0;
}
.main-content > section > .caption > .top > .icon {
    margin-right: 0.6rem;
}
.main-content > section > .caption > .top > .icon > svg {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}
.main-content > section > .caption > .top > .icon > svg > g {
    fill: var(--primary-light);
}
.main-content > section > .caption > .top > .title {
    font-size: 1.2rem;
    vertical-align: middle;
}

.main-content > section > .caption > .link {
    margin: 0.4rem 0;
    text-align: right
}

.main-content > section > .caption > .link::before {
    content: '';
    background-image: url(../../picture/svg/li_icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 0.75rem;
    height: 0.75rem;
    display: inline-block;
    margin-right: 0.6rem;
}

#About > section {
    border-left: 2px solid var(--primary-light-3);
    margin: 0.5rem 0;
}
#About > section > .caption {
    padding: 0 0.8rem;
}

.content > .title.text-small {
    color: var(--primary-light-3);
    padding: 0.2rem 0;
}
.content > .content-line {
    padding: 0.2rem 0;
    padding-left: 0.6rem;
}