#ItemQuery {
    
}

#ItemQuery .options-menu {
    list-style: none;
    padding: 0 0.6rem;
    margin: 1rem 0;
    border-bottom: 1px var(--primary-light) solid;
}
#ItemQuery .options-menu > li {
    padding: 0.5rem 0.8rem;
    margin: 0;
    margin-bottom: -1px;
}

#ItemQuery > .options-scope {
    padding: 0 0.4rem;
}

#ItemQuery .search-scope {
    position: relative;
}

#ItemQuery .search-scope > .icon {
    left: 0.4rem;
    top: 0.4rem;
    position: absolute;
}
#ItemQuery .search-scope > .icon-before-short {
    margin-right: 0.3rem;
    display: inline-block;
}
#ItemQuery .search-scope svg {
    fill: var(--primary-light);
    vertical-align: middle;
}
#ItemQuery .search-scope > input {
    padding: 0.5rem;
    border: 0;
    border-bottom: 1px solid var(--primary-light);
    transition: 0.3s;
    font-size: 1rem;
    width: 20rem;
    padding-left: 2.4rem;
}
#ItemQuery .search-scope > input:focus {
    border-bottom-color: var(--primary-light-3);
}
@media screen and (max-width: 24rem) {
    #ItemQuery .search-scope > input {
        width: 100%;
    }
}

#ItemQuery .search-scope input.short {
    width: 3rem;
    text-align: center;
    vertical-align: middle;
    padding: 0.3rem 0.6rem;
}
#ItemQuery .search-scope > .title {
    color: var(--primary-light-4);
    padding: 0.4rem 0.2rem;
}
#ItemQuery .search-scope > .text.inner {
    vertical-align: middle;
    margin: 0 0.3rem;
    display: inline-block;
}

#ItemQuery .search-button-scope {
    padding: 0 1rem;
    margin: 1rem 0;
    text-align: right;
}

#ItemQuery .button-scope {
    margin: 1rem 0;
}
#ItemQuery .button-scope > ul {
    list-style: none;
    padding: 0 0.4rem;
    margin: 0;
    margin-bottom: 0.8rem;
}
#ItemQuery .button-scope > .title-scope {
    padding: 0.2rem 0;
}
#ItemQuery .button-scope > .title-scope >.title {
    color: var(--primary-light-4);
    vertical-align: middle;
    margin-right: 0.6rem;
}

#ItemQuery .options-stat > .stats-scope {
    padding: 0.6rem 0.2rem;
}
#ItemQuery .options-stat > .stats-scope > .stat > .sort {
    margin-right: 0;
    margin-left: 0.4rem;
}
#ItemQuery .options-stat > .stats-scope > .tips {
    padding: 1rem 0.6rem;
    color: var(--primary-light-4);
}

#ItemQuery .options-scope .tips-scope {
    padding: 0.6rem 0.2rem;
}
#ItemQuery .options-scope .tips-scope > .scope-icon {
    margin: 0 0.4rem;
}
#ItemQuery .options-scope .tips-scope > .scope-icon > svg {
    fill: var(--primary-light-4);
}