#ItemQuery > .result > .scope {
    margin: 0.2rem;
    border: 1px solid var(--primary-light);
    padding: 0.6rem;
    width: 20rem;
    display: inline-block;
}
#ItemQuery > .result > .scope > .top {
    cursor: pointer;
}
@media screen and (max-width: 22rem) {
    #ItemQuery > .result > .scope {
        width: 100%;
    }
}
#ItemQuery > .result > .scope > .top > .name {
    color: var(--primary-purple);
}
#ItemQuery > .result > .scope > .sub > .category {
    color: var(--primary-light-3);
    margin-left: 0.3rem;
}
#ItemQuery > .result > .scope > .sub > .obtain {
    color: var(--primary-water-blue);
}
#ItemQuery > .result > .scope > .sub {
    text-align: right;
}
#ItemQuery > .result > .scope > .search-stat-scope {
    margin-top: 0.3rem;
    padding: 0.2rem 0;
    border-top: 1px solid var(--primary-light);
}
#ItemQuery > .result > .scope > .search-stat-scope > .search-stat {
    border-bottom: 1px solid var(--primary-light-2);
    padding: 0.1rem 0.3rem;
    margin: 0.2rem;
    display: inline-block;
    font-size: 0.9rem;
    color: var(--primary-light-3);
}

#ItemQuery > .result > .scope > .attribute-scope {
    margin-top: 0.3rem;
    padding: 0.2rem 0;
    border-top: 1px solid var(--primary-light);
}
#ItemQuery > .result > .scope > .attribute-scope > .attribute {
    border-bottom: 1px solid var(--primary-light-2);
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    display: inline-block;
    font-size: 0.9rem;
}
.attribute-scope > .attribute > .title {
    margin-right: 0.4rem;
}
.attribute-scope > .attribute > .value {
    color: var(--primary-light-3);
}

#ItemQuery > .result > .no-result {
    padding: 1rem;
}

#ItemQuery > .detail > .contents {
    
}
#ItemQuery > .detail > .contents > .scope-title {
    padding: 0.4rem 0.8rem;
    padding-bottom: 0.2rem;
    border-left: 2px solid var(--primary-light-2);
    font-size: 0.9rem;
    color: var(--primary-light-3);
}
#ItemQuery > .detail > .contents > .scope-title > span {
    vertical-align: middle;
}
#ItemQuery > .detail > .contents > .scope-title > svg {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.4rem;
    vertical-align: middle;
}
#ItemQuery > .detail > .contents > .scope-title > svg > g {
    fill: var(--primary-light);
}
#ItemQuery > .detail > .contents > .scope {
    margin-bottom: 0.6rem;
    border-left: 2px solid var(--primary-light-2);
    padding: 0 0.8rem;
    padding-bottom: 0.4rem;
}
#ItemQuery > .detail > .contents > .scope-title > .title-value {
    margin-left: 0.5rem;
    color: var(--primary-purple);
}

#ItemQuery > .detail > .contents > .stats > span {
    border-bottom: 1px solid var(--primary-light-2);
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    display: inline-block;
    color: var(--primary-light-3);
}

#ItemQuery > .detail > .contents > .stats > span > .restriction {
    padding: 0rem 0.2rem;
    margin-left: 0.2rem;
    color: var(--primary-water-blue);
    font-size: 0.9rem;
    display: inline-block;
}
#ItemQuery > .detail > .contents td {
    padding: 0.1rem 0.6rem;
}
#ItemQuery > .detail > .contents td.title {
    text-align: right;
    border-right: 1px solid var(--primary-light-4);
}
#ItemQuery > .detail > .contents td.value {
    text-align: left;
    color: var(--primary-light-3);
}

#ItemQuery > .detail .obtain-scope {
    padding: 0.6rem 0;
    border-bottom: 1px solid var(--primary-light);
}

#ItemQuery > .detail .obtain-scope > .title {
    margin-bottom: 0.3rem;
}
#ItemQuery > .detail .obtain-scope > .title > .type {
    font-size: 0.9rem;
    color: var(--primary-light);
    margin-right: 0.4rem;
}
#ItemQuery > .detail .obtain-scope > .title > .name {
    color: var(--primary-purple);
}
#ItemQuery > .detail .obtain-scope > .info-line {
    margin-top: 0.1rem;
    padding: 0 0.3rem;
}
#ItemQuery > .detail .obtain-scope > .info-line > .text {
    color: var(--primary-light-3);
    font-size: 0.9rem;
}
#ItemQuery > .detail .obtain-scope > .info-line > svg {
    width: 0.9rem;
    height: 0.9rem;
}
#ItemQuery > .detail > .contents > .obtains > .no-data {
    padding: 0.5rem;
    font-size: 0.9rem
}