#Settings {
    padding: 1rem 0;
}
#Settings > section {
    padding: 0.7rem 1.2rem;
    border-left: 2px var(--primary-light-3) solid;
    margin: 0.5rem 0;
}
#Settings > hr {
    background-color: var(--primary-light);
    height: 1px;
    border: 0;
}
#Settings > section > .warn {
    margin: 0.3rem 0;
    font-size: 0.9rem;
    color: var(--primary-light-4);
    padding-left: 0.3rem;
}

#Settings > section > .buttons {
    padding: 0.2rem;
    margin: 0.2rem 0;
}