:root {
  --primary-dark: #85005F;
  --primary-dark-light: #c62899;
  --primary-light: #FFD1EA;
  --primary-light-2: #f7a8d3;
  --primary-light-3: #ff5fb7;
  --primary-light-4: #ff008d;
  --primary-purple: #9c27b0;
  --primary-purple-light: #c873d7;
  --primary-water-blue-light: #9acbf3;
  --primary-water-blue: #2196f3;
  --primary-gray: #666;
  --primary-gray-light: #999;
  --primary-blue-grean: #009688;
  --primary-blue-grean-light: #67d1c7;
  --primary-orange: #de761b;
  --primary-green: #29d940;
  --white: white;
  --black: black;
  --red: red;
  --primary-red: red;

  --rgb-white: 255, 255, 255;
  --rgb-black: 0, 0, 0;
  --rgb-primary-light: 255, 209, 234;
}

.main--font-1() {
  font-family: 'Itim', 'SetoFont', Microsoft JhengHei, sans-serif;
}

.night-mode() {
  --primary-dark: white;
  --primary-dark-light: #FFD1EA;
  --primary-light: #503042;
  --primary-light-2: #a25b82;
  --primary-light-3: #f7a8d3;
  --primary-light-4: #ffbde1;
  --primary-purple: #e8caed;
  --primary-purple-light: #b357c3;
  --primary-water-blue-light: #2196f2;
  --primary-water-blue: #aed1ef;
  --primary-gray: #AAA;
  --primary-gray-light: #555;
  --primary-blue-grean: #81ded5;
  --primary-blue-grean-light: #23b1a4;
  --primary-orange: #edcbad;
  --primary-green: #bff5c6;
  --white: black;
  --black: white;
  --red: red;
  --primary-red: #f57171;

  --rgb-white: 0, 0, 0;
  --rgb-black: 255, 255, 255;
  --rgb-primary-light: 80, 48, 66;
}

* {
  box-sizing: border-box;
}

body.theme--night-mode {
  .night-mode();
}

body {
  margin: 6px;
  scroll-behavior: smooth;

  @media (prefers-color-scheme: dark) {
    .night-mode();
  }
}

body,
input,
textarea {
  color: var(--primary-dark);
  font-family: 'Itim', Microsoft JhengHei, sans-serif;
  background-color: var(--white);
}

body.font1.lang-1 {
  .main--font-1();

  input, textarea {
    .main--font-1();
  }
}
body.font1.lang-2 {
  .main--font-1();

  input, textarea {
    .main--font-1();
  }
}

input::-webkit-input-placeholder {
  color: var(--primary-light);
}

input::-moz-placeholder {
  color: var(--primary-light);
}

/* firefox 19+ */
input:-ms-input-placeholder {
  color: var(--primary-light);
}

/* ie */
input:-moz-placeholder {
  color: var(--primary-light);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

a {
  color: var(--primary-light-4);
}


::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-light-2);
  border-radius: 0.22rem;
  transition: 0.3s;
}

::-webkit-scrollbar-corner {
  background-color: var(--white);
}


/* ==========================================================================
   show message
   ========================================================================== */
#global--Show-Message {
  position: fixed;
  width: 25rem;
  margin: 0 auto;
  bottom: 2rem;
  right: 2rem;
  z-index: 50;
}

#global--Show-Message>.loading-message-scope {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(var(--rgb-black), 0.7);
  z-index: 10;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#global--Show-Message>.loading-message-scope>.container {
  text-align: center;
}

#global--Show-Message>.loading-message-scope>.container>.icon>svg {
  color: var(--primary-light-2);
  animation: loading-message-scope-icon ease 4s infinite;
  width: 4rem;
  height: 4rem;
}

@keyframes loading-message-scope-icon {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: rotateX(360deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

#global--Show-Message>.loading-message-scope>.container>.text {
  color: var(--white);
  font-size: 1.1rem;
}

#global--Show-Message>.message-scope {
  margin: 0.2rem 0;
  padding: 1.2rem;
  font-size: 1.2rem;
  background-color: var(--primary-dark-light);
  color: var(--white);
  border: 1px solid var(--primary-light-4);
  position: relative;
  z-index: 5;
}

#global--Show-Message>.message-scope.out {
  animation: show-message 0.5s ease-out;
  opacity: 0;
}

#global--Show-Message>.message-scope svg {
  width: 2rem;
  height: 2rem;
  fill: var(--primary-light-2);
}

#global--Show-Message>.message-scope>.notification-count {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  line-height: 2rem;
  text-align: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  z-index: 32;
  background-color: var(--primary-dark);
  color: var(--white);
  display: inline-block;
}

@keyframes show-message {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 30rem) {
  #global--Show-Message {
    bottom: 1rem;
    right: 1rem;
    max-width: calc(100vw - 2rem);
  }

  #global--Show-Message>.message-scope {
    padding: 0.8rem;
    font-size: 1rem;
  }

  #global--Show-Message>.message-scope svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}