.cy--text-separate {
  display: inline-block;
  margin-inline: --spacing(1.5);
  border-color: var(--color-primary-20);
  border-inline-width: 1px;
  padding-inline: --spacing(1.5);
}

.text-sm .cy--text-separate {
  margin-inline: --spacing(1);
  padding-inline: --spacing(1);
}

.cy--text-underline {
  display: inline-block;
  position: relative;
  margin-right: --spacing(3);
  margin-bottom: --spacing(1);
  border-bottom-width: 1px;
  border-color: currentcolor;
  padding-inline: --spacing(2);

  &::before {
    display: inline-block;
    position: absolute;
    right: --spacing(-1);
    bottom: --spacing(-1);
    border-radius: calc(infinity * 1px);
    background-color: currentcolor;
    width: --spacing(2);
    height: --spacing(2);
    content: '';
  }
}
.scrollbar-hide {
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    display: none !important;
  }
}
