.cy--text-separate {
  @apply border-l border-r border-current mx-1.5 px-1.5 inline-block;
}
.cy--text-underline {
  @apply border-b border-current inline-block relative px-2 mr-3 mb-1;

  &::before {
    content: '';
    display: inline-block;
    background-color: currentcolor;
    position: absolute;

    @apply w-2 h-2 rounded-full -right-1 -bottom-1;
  }
}
.scrollbar-hide {
  scrollbar-width: none!important;

  &::-webkit-scrollbar {
    display: none!important;
  }
}