.cy--text-separate {
  @apply mx-1.5 inline-block border-l border-r border-current px-1.5;
}
.cy--text-underline {
  @apply relative mr-3 mb-1 inline-block border-b border-current px-2;

  &::before {
    content: '';
    display: inline-block;
    background-color: currentcolor;
    position: absolute;

    @apply -right-1 -bottom-1 h-2 w-2 rounded-full;
  }
}
.scrollbar-hide {
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    display: none !important;
  }
}
