:root {
  --primary-dark: #85005F;
  --primary-dark-light: #c62899;
  --primary-light: #FFD1EA;
  --primary-light-2: #f7a8d3;
  --primary-light-3: #ff5fb7;
  --primary-light-4: #ff008d;
  --primary-purple: #9c27b0;
  --primary-purple-light: #c873d7;
  --primary-blue-purple: #8330ff;
  --primary-water-blue: #2196f3;
  --primary-water-blue-light: #9acbf3;
  --primary-blue-green: #009688;
  --primary-blue-green-light: #a0e8e1;
  --primary-orange: #de761b;
  --primary-orange-light: #edcbad;
  --primary-green: #23ad35;
  --primary-red: #f54747;
  --primary-red-light: #f09797;
  --primary-gray: #888;
  --primary-gray-light: #ddd;
  --white: #fff;
  --black: #000;

  --rgb-primary-dark: 133, 0, 95;
  --primary-dark-light: 198, 40, 153;
  --rgb-primary-light: 255, 209, 234;
  --rgb-primary-light-2: 247, 168, 211;
  --rgb-primary-light-3: 255, 95, 183;
  --rgb-primary-light-4: 255, 0, 141;
  --rgb-primary-purple: 156, 39, 176;
  --rgb-primary-purple-light: 200, 115, 215;
  --rgb-primary-blue-purple: 131, 48, 255;
  --rgb-primary-water-blue: 33, 150, 243;
  --rgb-primary-water-blue-light: 154, 203, 243;
  --rgb-primary-blue-green: 0, 150, 136;
  --rgb-primary-blue-green-light: 160, 232, 225;
  --rgb-primary-orange: 222, 118, 27;
  --rgb-primary-orange-light: 237, 203, 173;
  --rgb-primary-green: 35, 173, 53;
  --rgb-primary-red: 245, 71, 71;
  --rgb-primary-red-light: 240, 151, 151;
  --rgb-primary-gray: 136, 136, 136;
  --rgb-primary-gray-light: 221, 221, 221;
  --rgb-white: 255, 255, 255;
  --rgb-black: 0, 0, 0;
}

html.theme--night-mode {
  --primary-dark: #fff;
  --primary-dark-light: #FFD1EA;
  --primary-light: #8a225d;
  --primary-light-2: #a25b82;
  --primary-light-3: #f7a8d3;
  --primary-light-4: #ffbde1;
  --primary-purple: #e8caed;
  --primary-purple-light: #b357c3;
  --primary-blue-purple: #e6d6ff;
  --primary-water-blue: #aed1ef;
  --primary-water-blue-light: #307cb9;
  --primary-blue-green: #81ded5;
  --primary-blue-green-light: #1a6760;
  --primary-orange: #edcbad;
  --primary-orange-light: #7e542f;
  --primary-green: #bff5c6;
  --primary-red: #f97777;
  --primary-red-light: #802828;
  --primary-gray: #AAA;
  --primary-gray-light: #555;
  --white: #000;
  --black: #fff;

  --rgb-primary-dark: 255, 255, 255;
  --rgb-primary-light: 109, 23, 72;
  --rgb-primary-light-2: 162, 91, 130;
  --rgb-primary-light-3: 247, 168, 211;
  --rgb-primary-light-4: 255, 189, 225;
  --rgb-primary-purple: 232, 202, 237;
  --rgb-primary-purple-light: 179, 87, 195;
  --rgb-primary-blue-purple: 230, 214, 255;
  --rgb-primary-water-blue: 174, 209, 239;
  --rgb-primary-water-blue-light: 48, 124, 185;
  --rgb-primary-blue-green: 129, 222, 213;
  --rgb-primary-blue-green-light: 26, 103, 96;
  --rgb-primary-orange: 237, 203, 173;
  --rgb-primary-orange-light: 126, 84, 47;
  --rgb-primary-green: 191, 245, 198;
  --rgb-primary-red: 249, 119, 119;
  --rgb-primary-red-light: 128, 40, 40;
  --rgb-primary-gray: 170, 170, 170;
  --rgb-primary-gray-light: 85, 85, 85;
  --rgb-white: 0, 0, 0;
  --rgb-black: 255, 255, 255;
}

.main--font-base {
  font-family: 'Itim', Microsoft JhengHei, sans-serif;
}
.main--font-1 {
  font-family: 'Itim', 'naikaifont', Microsoft JhengHei, sans-serif;
}
.main--font-2 {
  font-family: 'Itim', 'Noto Sans TC', Microsoft JhengHei, sans-serif;
}


html {
  background-color: var(--white);
  font-size: 16px;
}

html {
  @apply text-base main--font-base;

  & input, & textarea {
    @apply main--font-base;
  }

  &.font-1 {
    @apply main--font-1;

    & input, & textarea {
      @apply main--font-1;
    }
  }
  &.font-2 {
    @apply main--font-2;

    & input, & textarea {
      @apply main--font-2;
    }
  }
}

* {
  transition-timing-function: ease;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  color: var(--primary-dark);
  position: relative;
  background-color: rgba(var(--rgb-primary-light), 0.1);
}

input, textarea {
  color: var(--primary-dark);
  background-color: var(--white);

  @apply text-base;
}

input::-webkit-input-placeholder {
  color: var(--primary-light);
}

input::-moz-placeholder {
  color: var(--primary-light);
}

/* firefox 19+ */
input:-ms-input-placeholder {
  color: var(--primary-light);
}

/* ie */
input:-moz-placeholder {
  color: var(--primary-light);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

@media screen and (max-width: 30rem) {
  ::-webkit-scrollbar {
    width: 0.1rem;
    height: 0.1rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-light)!important;
    border-radius: 0.1rem;
  }
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--rgb-primary-light-2), 0.5);
  border-radius: 0.22rem;
  transition: 0.3s;

  &:hover {
    background-color: var(--primary-light-2);
  }
}

::-webkit-scrollbar-corner {
  background-color: var(--white);
}

::-webkit-scrollbar-button {
  background-color: rgba(var(--rgb-primary-light-2), 0.5);
  border-radius: 0.22rem;
  transition: 0.3s;

  &:hover {
    background-color: var(--primary-light-2);
  }

  @media screen and (max-width: 30rem) {
    width: 0;
    height: 0;
  }
}

::-webkit-scrollbar-track {
  background-color: rgba(var(--rgb-primary-light-2), 0.2);
}