
#tag-scope {
    position: fixed;
    max-width: 25rem;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
    border: 1px solid var(--primary-light);
    background-color: #fff;
    padding: 0 1rem;
    max-height: calc(100% - 1rem);
    overflow-y: auto;
}

#tag-scope > .top {
    background-color: #fff;
    position: sticky;
    top: 0;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

#tag-scope > .top > span.button {
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
}
#tag-scope > .top > span.button > svg {
    fill: var(--primary-light-2);
    vertical-align: middle;
}
#tag-scope > .top > span.button:hover svg {
    fill: var(--primary-light-3);
}
#tag-scope > .top > span.name {
    margin: 0.2rem;
    vertical-align: middle;
    color: var(--primary-purple);
}

#tag-scope > .content {
    padding-bottom: 1rem;
}

#tag-scope > .content > .frame-category,
#tag-scope > .content > .frame-caption {
    padding: 0.4rem 0.8rem;
    margin-top: 0.5rem;
    border-left: 2px solid var(--primary-light-2);
}
#tag-scope > .content > .frame-category {
    font-size: 0.9rem;
    color: var(--primary-light-3);
}
#tag-scope > .content > .frame-category > span {
    vertical-align: middle;
}
#tag-scope > .content > .frame-category > svg {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.4rem;
    vertical-align: middle;
}
#tag-scope > .content > .frame-category > svg > g {
    fill: var(--primary-light);
}

#tag-scope > .content > .frame-list {
    margin-top: 0.4rem;
}

#tag-scope .show_tag_button {
    color: var(--primary-light-3);
    cursor: pointer;
    margin: 0 0.2rem;
    border-bottom: 1px var(--primary-light) solid;
    transition: 0.3s;
    position: relative;
    white-space: nowrap;
    display: inline-block;
}
#tag-scope .show_tag_button:hover {
    border-bottom: 1px var(--primary-light-2) solid;
}