.SkillSimulator-main > .main > .top > .content {
    position: relative;
}
.SkillSimulator-main > .main > .top .inner-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    padding: 0.6rem 1rem;
    padding-top: 2rem;
    border: 1px solid var(--primary-light-2);
    background-color: var(--white);
    width: 31.2rem;
    max-width: 100%;
}
.SkillSimulator-main > .main > .top .inner-menu > .title {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
    color: var(--primary-light-3);
}
.SkillSimulator-main > .main > .top .inner-menu > .content {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 0.4rem;
}
.SkillSimulator-main > .main > .top .inner-menu > .content > .Cyteria.Button.line:not(.selected) {
    color: var(--primary-light-2);
}
@media screen and (max-width: 30rem) {
    .SkillSimulator-main > .main > .top .inner-menu > .content {
        grid-template-columns: 100%;
    }
}

.SkillSimulator-main > .main > .top > .content {
    overflow: visible;
}
.SkillSimulator-main > .main > .top > .content > .button {
    z-index: 6;
}

.SkillSimulator-main > .main > .skill-root {
    padding: 0.6rem;
    min-height: 20rem;
}
.SkillSimulator-main > .main > .skill-root > .top {
    position: sticky;
}


.SkillSimulator-main > .main > .bottom-menu {
    position: sticky;
    bottom: 0;
    background-color: var(--white);
    border-top: 1px solid var(--primary-light);
}
.SkillSimulator-main > .main > .bottom-menu > .content {
    padding: 0.3rem 0;
}
/* .SkillSimulator-main > .bottom-menu > .content > .set-button > svg {
    color: var(--primary-light-4);
}
.SkillSimulator-main > .bottom-menu > .content > .set-button.selected > svg {
    color: var(--primary-light);
}
.SkillSimulator-main > .bottom-menu > .content > .set-button.selected {
    background-color: var(--primary-light-4);
    border-radius: 0 0 0.6rem 0.6rem;
} */
.SkillSimulator-main > .main > .bottom-menu > .content > .set-button {
    position: relative;
    z-index: 5;
}
.SkillSimulator-main > .main > .bottom-menu > .content > .set-button > .inner-button {
    position: relative;
}
.SkillSimulator-main > .main > .bottom-menu > .content > .set-button > .select-menu {
    position: absolute;
    left: 0;
    bottom: -0.2rem;
    border: 1px solid var(--primary-light-2);
    padding: 0.6rem;
    background-color: var(--white);
    padding-bottom: 2rem;
    max-width: 20rem;
    display: none;
}
.SkillSimulator-main > .main > .bottom-menu > .content > .set-button.selected {
    z-index: 6;
}
.SkillSimulator-main > .main > .bottom-menu > .content > .set-button.selected > .select-menu {
    display: block;
}
/* .SkillSimulator-main > .bottom-menu > .select-menu > .column {
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 0.4rem;
    margin: 0 0.2rem;
}
.SkillSimulator-main > .bottom-menu > .select-menu > .column > .buttons-scope {
    background-color: var(--primary-light-4);
    display: inline-flex;
}
.SkillSimulator-main > .bottom-menu > .select-menu > .column > .buttons-scope > .Cyteria.Button:hover > svg {
    color: var(--primary-light);
} */