@font-face {
    font-family: 'SetoFont';
    src: local('SetoFont'),
        url('Setofont.woff2') format('woff2');
    unicode-range: U+4E00-9FA5;
}

@font-face {
    font-family: 'Itim';
    src: local('Itim'), 
        url('Itim-Regular.woff2') format('woff2'),
        url('Itim-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Itim';
    src: local(Microsoft JhengHei);
    font-weight: normal;
    font-style: normal;
    unicode-range: U+28, U+29;
}