.Cyteria.Button.simple {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    border-bottom: 1px var(--primary-light) solid;
    transition: 0.3s;
    margin: 0.2rem;
    cursor: pointer;
    text-align: center;
    fill: var(--primary-light-4);
}
.Cyteria.Button.simple:hover, .Cyteria.Button.simple.cur {
    border-bottom: 1px var(--primary-light-3) solid;
    fill: var(--primary-light-3);
}

.Cyteria.Button.simple > .icon > svg,
.Cyteria.Button.simple > svg {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
}
.Cyteria.Button.simple > .text {
    margin-left: 0.4rem;
    vertical-align: middle;
}

.Cyteria.scope-icon > svg {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    fill: var(--primary-light-2);
}
.Cyteria.scope-icon > svg > g {
    fill: var(--primary-light-2);
}
.Cyteria.scope-icon > .text {
    margin-left: 0.4rem;
    vertical-align: middle;
}
.Cyteria.scope-icon.text-small > svg {
    height: 0.9rem;
    width: 0.9rem;
}

.Cyteria.ul.simple {
    list-style: none;
    margin: 0;
    padding: 0.1rem 0;
}
.Cyteria.ul.simple > li::before {
    background-image: url(icon/li-icon-1.svg);
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
    left: 0;
    top: 0.32rem;
    content: '';
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}
.Cyteria.ul.simple > li {
    position: relative;
    padding-left: 1.2rem;
    margin: 0.3rem 0;
}