#SkillQuery div.SkillTree_scope svg {
    stroke: var(--primary-light);
    stroke-width: 2px;
}
#SkillQuery div.SkillTree_scope svg > circle.dot {
    fill: var(--primary-light);
}
#SkillQuery div.SkillTree_scope svg > circle.skill-circle {
    fill: #FFF;
    z-index: 5;
    /* stroke: url(#skill-icon-stroke); */
    stroke: var(--primary-light-2);
    stroke-width: 2px;
    cursor: pointer;
    transition: 0.3s;
}
#SkillQuery div.SkillTree_scope svg > circle.skill-circle:hover,
#SkillQuery div.SkillTree_scope svg > circle.skill-circle.cur {
    stroke: var(--primary-water-blue);
}
#SkillQuery div.SkillTree_scope svg > circle.skill-circle:not(.disable):hover + text.skill-name,
#SkillQuery div.SkillTree_scope svg > circle.skill-circle.cur + text.skill-name {
    /* fill: var(--primary-water-blue); */
    display: block;
}
#SkillQuery div.SkillTree_scope svg > text.skill-name {
    text-anchor: middle;
    stroke-width: 0;
    fill: var(--primary-purple);
    transition: 0.3s;
    display: none;
}
#SkillQuery div.SkillTree_scope svg > circle.skill-circle.lock {
    fill: url(#skill-icon-lock);
    stroke: var(--primary-light);
}
#SkillQuery div.SkillTree_scope svg > circle.skill-circle.disable {
    stroke: #BBB;
}
/* #SkillQuery div.SkillTree_scope svg > line {
} */