svg.DrawSkillTree--main {
    stroke: var(--primary-light);
    stroke-width: 2px;
}
svg.DrawSkillTree--main > circle.dot {
    fill: var(--primary-light);
}
svg.DrawSkillTree--main > circle.skill-circle {
    fill: #FFF;
    z-index: 5;
    stroke: #ff5fb7;
    stroke-width: 2px;
    cursor: pointer;
    transition: 0.3s;
}
svg.DrawSkillTree--main > circle.skill-circle:hover,
svg.DrawSkillTree--main > circle.skill-circle.cur {
    stroke: var(--primary-water-blue);
}
svg.DrawSkillTree--main > circle.skill-circle:not(.disable):hover + text.skill-name,
svg.DrawSkillTree--main > circle.skill-circle.cur + text.skill-name {
    /* fill: var(--primary-water-blue); */
    display: block;
}
svg.DrawSkillTree--main > text.skill-name {
    text-anchor: middle;
    stroke-width: 0;
    fill: var(--primary-purple);
    transition: 0.3s;
    display: none;
}
svg.DrawSkillTree--main > circle.skill-circle.lock {
    fill: url(#skill-icon-lock);
    stroke: var(--primary-light);
}
svg.DrawSkillTree--main > circle.skill-circle.disable {
    stroke: #BBB;
}
svg.DrawSkillTree--main .skill-icon-pattern-bg {
    fill: url(#skill-icon-bg);
    stroke-width: 0;
}