#SkillQuery {
	position: relative;
}

#SkillQuery div.SkillRoot_scope > div._menu {
}
#SkillQuery div.SkillRoot_scope > div._menu > ul {
	list-style: none;
	padding: 0;
	margin: 1rem 0;
	border-bottom: 1px var(--primary-light) solid;
}
#SkillQuery div.SkillRoot_scope > div._menu li {
	display: inline-block;
	padding: 0.6rem 0.8rem;
	margin-bottom: -1px;
	cursor: pointer;
	border-bottom: 1px var(--primary-light) solid;
	transition: 0.3s;
}
#SkillQuery div.SkillRoot_scope > div._menu li:hover,
#SkillQuery div.SkillRoot_scope > div._menu li.cur {
	color: var(--primary-light-4);
	border-bottom-color: var(--primary-light-4);
}

#SkillQuery div.SkillTreeCategory_scope > div._menu > ul {
	list-style: none;
	padding: 0 1rem;
	margin: 1rem 0;
}
#SkillQuery div.SkillTreeCategory_scope > div._menu li {
	display: inline-block;
	border-bottom: 1px var(--primary-light) solid;
	padding: 0.5rem 0.7rem;
	margin: 0.1rem;
	cursor: pointer;
	transition: 0.3s;
}

#SkillQuery div.SkillTreeCategory_scope > div._menu li:hover,
#SkillQuery div.SkillTreeCategory_scope > div._menu li.cur {
	color: var(--primary-light-4);
	border-bottom-color: var(--primary-light-4);
}

#SkillQuery div.SkillTree_scope {
	overflow-y: auto;
	border-bottom: 1px var(--primary-light-3) solid;
	padding-bottom: 1rem;
}


#SkillQuery div.Skill_scope {
	margin-bottom: 2rem;
}
#SkillQuery div.Skill_scope > div.skill-attributes {
	padding: 0.6rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
#SkillQuery div.Skill_scope > div.skill_branchs {
	padding: 0.2rem;
	display: inline-block;
	margin-bottom: 1rem;
}

#SkillQuery div.Skill_scope div.no_data {
	padding: 1rem;
}

#SkillQuery .skill-query-result-options-scope {
	z-index: 4;	
	background-color: white;
}
#SkillQuery .skill-query-result-options-scope.frozen {
	position: sticky;
	top: 0;
	box-shadow: 0 0.2rem 0.3rem -0.1rem var(--primary-light);
}

#SkillQuery div.SkillLevel_scope {
	padding-top: 0.8rem;
	border-top: 1px var(--primary-light) solid;
}
#SkillQuery div.SkillLevel_scope > ul {
	list-style: none;
	margin: 0;
	padding: 0 0.6rem;
}

#SkillQuery div.SkillEquipment_scope {
	border-bottom: 1px var(--primary-light) solid;
	padding: 0.8rem 0.6rem;
}
#SkillQuery div.SkillEquipment_scope > div,
#SkillQuery div.SkillEquipment_scope > div > div,
#SkillQuery div.SkillEquipment_scope ul,
#SkillQuery div.SkillEquipment_scope > div li {
	display: inline-block;
}

#SkillQuery div.SkillEquipment_scope > div {
	padding: 0.3rem 0.4rem;
	border-bottom: 1px var(--promary-color-light-3) solid;
}
#SkillQuery div.SkillEquipment_scope > div > div {
	margin-right: 0.4rem;
	font-size: 0.9rem;
	color: var(--primary-light-4);
}

#SkillQuery div.SkillEquipment_scope ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#SkillQuery div.SkillEquipment_scope li {
	padding: 0.2rem 0.4rem;
	border-bottom: 1px var(--primary-light) solid;
	margin: 0.2rem;
	transition: 0.3s;
	cursor: pointer;
}
#SkillQuery div.SkillEquipment_scope li:hover,
#SkillQuery div.SkillEquipment_scope li.cur {
	color: var(--primary-light-4);
	border-bottom-color: var(--primary-light-4);
}


#SkillQuery div.SkillEquipment_scope li > span.icon {
	margin-left: 0.3rem;
}


#SkillQuery div.CharacterLevel_scope {
	padding: 0 1rem 1rem 1rem;
	display: inline-block;
}
#SkillQuery div.CharacterLevel_scope > div.title {
	color: var(--primary-light-4);
}


#SkillQuery div.SwitchDisplayMode_scope {
	display: inline-block;
	padding: 0.6rem;
}


#SkillQuery div.SkillRecord_scope {
	padding: 0.9rem 0.4rem;
	border-top: 1px var(--primary-light-3) solid;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 2;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	box-shadow: 0 0.2rem 0.3rem -0.1rem var(--primary-light);
}
#SkillQuery div.SkillRecord_scope > div {
	display: inline-block;
}
#SkillQuery div.SkillRecord_scope > .back-button {
	margin-right: 1.8rem;
}

#SkillQuery div.SkillRecord_scope > div.tip {
	color: var(--primary-light);
	margin-right: 0.6rem;
	vertical-align: middle;
	font-size: 0.9rem;
}
#SkillQuery div.SkillRecord_scope > div.current_skill {
	vertical-align: middle;
	color: var(--primary-purple);
}


#SkillQuery div.skill-attribute {
	margin: 0.2rem 0.3rem;
	padding-top: 0.1rem;
	padding: 0.2rem 0.4rem;
	border-bottom: 1px var(--primary-light-2) solid;
	display: inline-block;
}
#SkillQuery div.skill-attribute > span {
	line-height: 1.3125rem;
}
#SkillQuery div.skill-attribute {
	display: inline-flex;
	align-items: center;
}

#SkillQuery div.skill-attribute > .scope-icon + .value {
	margin-left: 0.6rem;
}
#SkillQuery div.skill-attribute > .value {
	color: var(--primary-light-4);
}
#SkillQuery div.skill-attribute > .tail {
	margin-left: 0.4rem;
	vertical-align: middle;
}


#SkillQuery span.element_ball {
	height: 0.8rem;
	width: 0.8rem;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 0.4rem;
	display: inline-block;
}
#SkillQuery div.skill-attribute > .element_value {
	vertical-align: middle;
}

#SkillQuery div.skill-attribute-icon-tips > .title {
	padding: 0.3rem 0;
}
#SkillQuery div.skill-attribute-icon-tips > .content {
	padding-left: 0.6rem;
	margin-bottom: 0.4rem;
}