article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch {
	border-top: 1px var(--primary-color-light) solid;
	margin-bottom: 0.2rem;
	padding: 0.6rem 0;
}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch span.light {
	color: var(--primary-color-light-3);
}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch span.dark {
	color: #666;
}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch div.line_scope {
	padding-left: 0.4rem;
}

article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch > div.top {
	padding: 0.1rem;
	padding-top: 0;
	position: relative;
	border-bottom: 1px #9c27b0 solid;
	margin-bottom: 0.3rem;
	color: #9c27b0;
}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch > div.top > span._name {
	margin-left: 0.6rem;
}

article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch > div.content > div.scope1 {
	font-size: 0.9rem;
}

article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch > div.content > div.scope1 > span._main_title {
	padding-right: 0.6rem;
	margin: 0.2rem 0;
	display: inline-block;
	color: var(--primary-color-light-3);
}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch > div.content > div.scope1 > span._main_title span.light {
	color: #9c27b0;
}

article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch > div.content div.text_scope {
	padding: 0.4rem;
}

article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch > div.content > div.scope1 > div.skill_attribute {
	padding: 0.1rem 0.3rem;
	border-bottom: 1px var(--primary-color-light-2) solid;
	margin: 0.2rem 0.4rem;
}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch > div.content_line > div.scope1,
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch > div.content_line > div.scope2 {
	display: inline-block;
}

article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch > div.content {
	padding: 0 0.4rem;
}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch_damage > div.content > div.scope2 > div.skill_attribute {
	padding: 0.2rem 0.4rem;
	margin: 0.4rem 0;
	margin-right: 0.4rem;
}


article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch_tips {
	color: #c62899;
	font-size: 0.9rem;
}

article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch_list > div.content > ul._lists {
	/*list-style: none;*/
	margin: 0;
	padding: 0 0.6rem;
}

article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch_stack > div.content > div.scope1 {
	margin-right: 1rem;
}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch_stack > div.content > div.scope2 {
	margin-top: 0.3rem;
}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch_stack > div.content > div.scope2 > span,
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch_stack > div.content > div.scope2 > input {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch_stack > div.content > div.scope2 > span {
	border-radius: 0.2rem;
	padding: 0.3rem;
	cursor: pointer;
	border: 1px var(--primary-color-light-2) solid;
	transition: 0.3s;
}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch_stack > div.content > div.scope2 > span:hover {
	border: 1px var(--primary-color-light-3) solid;
}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch_stack > div.content > div.scope2 > input {
	padding: 0.3rem;
	border: 0;
	font-size: 1rem;
	color: var(--primary-color-light-3);
	width: 1.5rem;
	text-align: center;
}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch_stack > div.content > div.scope2 > input:focus {
	outline: none;
}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch_stack > div.content > div.scope2 > span > svg {
	fill: var(--primary-color-light-2);
	vertical-align: middle;
	width: 1.2rem;
	height: 1.2rem;
}

article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch_reference a.url_text {
	color: var(--primary-color-light-3);
	text-decoration: unset;
}

article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch  div.scope1 div.skill_attribute > span.element_value {
	vertical-align: baseline;
}
/*article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch  div.scope1 div.skill_attribute > span.element_ball {
	height: 0.8rem;
	width: 0.8rem;
}*/
article#SkillQuery div.Skill_scope span.effect_by_stack {
	color: #2196f3;
}
article#SkillQuery div.Skill_scope span.effect_by_stack span.dark,
article#SkillQuery div.Skill_scope span.dark span.effect_by_stack {
	color: #009688!important;
}

article#SkillQuery div.skill_attribute > span.element_neutral {
	background-color: #666;
}
article#SkillQuery div.skill_attribute > span.element_fire {
	background-color: #ea0000;
}
article#SkillQuery div.skill_attribute > span.element_water {
	background-color: #03a9f4;
}
article#SkillQuery div.skill_attribute > span.element_earth {
	background-color: #d26900;
}
article#SkillQuery div.skill_attribute > span.element_wind {
	background-color: #9aff02;
}
article#SkillQuery div.skill_attribute > span.element_light {
	background-color: #f9f900;
}
article#SkillQuery div.skill_attribute > span.element_dark {
	background-color: #5b00ae;
}

article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch div.effective_area {
	border: 1px var(--primary-color-light) solid;
	box-shadow: 0.1rem 0.1rem 0.4rem var(--primary-color-light);
	padding: 0.6rem;
	margin: 0.5rem 0;
	display: inline-block;
}

article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch div.effective_area span.ball_character {
	background-color: #ff5fb7;
}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch div.effective_area span.ball_target {
	background-color: #2196f3;
}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch div.show_area {
	cursor: pointer;
}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch div.show_area:hover {

}
article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch div.effective_area > div > svg {
	min-width: 15rem;
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 20rem) {
	article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch div.effective_area > div > svg {
		min-width: auto;
	}
}

article#SkillQuery div.Skill_scope > div.skill_branchs > div.branch span.separate_text {
	border-left: 1px var(--primary-color-light) solid;
	border-right: 1px var(--primary-color-light) solid;
	display: inline-block;
	padding: 0 0.5rem;
	margin: 0 0.4rem;
}
article#SkillQuery div.Skill_scope span.effect_by_stack span.separate_text {
	border-left: 1px #9acbf3 solid!important;
	border-right: 1px #9acbf3 solid!important;
}