div.skill_branchs > div.branch {
	margin-bottom: 0.2rem;
	padding: 0.6rem 0.4rem;
	border-top: 1px var(--primary-color-light) solid;
}
div.skill_branchs > div.branch.is_mark {
	border-left: 2px var(--primary-color-light-2) solid;
}
div.skill_branchs > div.branch.is_mark,
div.skill_branchs > div.branch.is_mark + div.branch {
	border-top: unset;
}
div.skill_branchs > div.branch span.light {
	color: var(--primary-color-light-3);
}
div.skill_branchs > div.branch span.dark {
	color: #666;
}
div.skill_branchs > div.branch div.line_scope {
	padding-left: 0.4rem;
}

div.skill_branchs > div.branch > div.top {
	padding: 0.1rem;
	padding-top: 0;
	position: relative;
	border-bottom: 1px var(--primary-color-purple) solid;
	margin-bottom: 0.3rem;
	color: var(--primary-color-purple);
}
div.skill_branchs > div.branch > div.top > span._name {
	margin-left: 0.6rem;
}

div.skill_branchs > div.branch > div.content > span.hidden_toggle_button {
	float: right;
	transition: 0.3s;
	cursor: pointer;
}
div.skill_branchs > div.branch > div.content > span.hidden_toggle_button > span > svg {
	fill: var(--primary-color-light-2);
}
div.skill_branchs > div.branch > div.content > span.hidden_toggle_button > span > svg:hover {
	fill: var(--primary-color-light-3);	
}

div.skill_branchs > div.branch > div.content > div.scope1 {
	font-size: 0.9rem;
}

div.skill_branchs div.scope1 > span._main_title {
	padding-right: 0.6rem;
	margin: 0.2rem 0;
	display: inline-block;
	color: var(--primary-color-light-3);
}
div.skill_branchs div.scope1 > span._main_title span.light,
div.skill_branchs div.scope1 > span._main_title .skill_from_where_button {
	color: var(--primary-color-purple);
}

div.skill_branchs > div.branch > div.content div.text_scope {
	padding: 0.4rem;
}

div.skill_branchs > div.branch > div.content > div.scope1 > div.skill_attribute {
	padding: 0.1rem 0.3rem;
	border-bottom: 1px var(--primary-color-light-2) solid;
	margin: 0.2rem 0.4rem;
}
div.skill_branchs > div.branch > div.content_line > div.scope1,
div.skill_branchs > div.branch > div.content_line > div.scope2,
div.skill_branchs > div.branch > div.content_line > div._icon {
	display: inline-block;
}
div.skill_branchs > div.branch > div.content_line > div._icon {
	margin-right: 0.3rem;
	vertical-align: middle;
}
div.skill_branchs > div.branch > div.content_line > div._icon > svg {
	height: 1.3rem;
	width: 1.3rem;
	fill: var(--primary-color-light);
}

div.skill_branchs > div.branch > div.content {
	padding: 0 0.4rem;
}
div.branch_damage > div.content > div.scope2 > div.skill_attribute {
	padding: 0.2rem 0.4rem;
	margin: 0.4rem 0;
	margin-right: 0.4rem;
}


div.skill_branchs > div.branch_tips {
	color: #c62899;
	font-size: 0.9rem;
}

div.skill_branchs > div.branch_list > div.content > ul._lists {
	list-style: none;
	margin: 0;
	padding: 0 0.4rem;
}
div.skill_branchs > div.branch_list > div.content > ul._lists > li:before {
	background-image: url(../../sourse/svg/li_icon.svg);
	width: 0.75rem;
	height: 0.75rem;
	position: absolute;
	left: 0;
	top: 0.3rem;
	content: '';
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
}
div.skill_branchs > div.branch_list > div.content > ul._lists > li {
	position: relative;
	padding-left: 1.2rem;
	margin: 0.5rem 0;
}

div.skill_branchs > div.branch_stack > div.content > div.scope1 {
	margin-right: 0.9rem;
}
div.skill_branchs div.branch_stack > div.content > div.scope2 {
	margin-top: 0.3rem;
}
div.skill_branchs > div.branch_stack > div.content > div.scope2 > span,
div.skill_branchs > div.branch_stack > div.content > div.scope2 > input {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
div.skill_branchs > div.branch_stack > div.content > div.scope2 > span.ctr_button {
	border-radius: 0.2rem;
	padding: 0.3rem;
	cursor: pointer;
	border: 1px var(--primary-color-light-2) solid;
	transition: 0.3s;
	margin-left: 0.1rem;
	margin-right: 0.3rem;
}
div.skill_branchs > div.branch_stack > div.content > div.scope2 > span.ctr_button:hover {
	border: 1px var(--primary-color-light-3) solid;
}
div.skill_branchs > div.branch_stack > div.content > div.scope2 > span.ctr_button:hover svg {
	fill: 1px var(--primary-color-light-3) solid;
}
div.skill_branchs > div.branch_stack > div.content > div.scope2 > input {
	padding: 0.3rem 0;
	border: 0;
	font-size: 1rem;
	color: var(--primary-color-light-3);
	text-align: right;
	width: 2rem;
}
div.skill_branchs > div.branch_stack > div.content > div.scope2 > .unit {
	margin-right: 0.4rem;
	color: var(--primary-color-light-3);
}
div.skill_branchs > div.branch_stack > div.content > div.scope2 > input:focus {
	outline: none;
}
div.skill_branchs > div.branch_stack > div.content > div.scope2 > span > svg {
	fill: var(--primary-color-light-2);
	vertical-align: middle;
	width: 1.2rem;
	height: 1.2rem;
}

div.skill_branchs > div.branch_reference a.url_text {
	color: var(--primary-color-light-3);
	text-decoration: unset;
}

div.skill_branchs div.scope1 div.skill_attribute > span.element_value {
	vertical-align: baseline;
}
/*#SkillQuery div.Skill_scope > div.skill_branchs > div.branch  div.scope1 div.skill_attribute > span.element_ball {
	height: 0.8rem;
	width: 0.8rem;
}*/
div.skill_branchs > div.branch span.effect_by_stack {
	color: #2196f3;
}
div.skill_branchs > div.branch span.effect_by_stack span.dark,
div.skill_branchs > div.branch span.dark span.effect_by_stack {
	color: #009688!important;
}

div.Skill_scope div.skill_attribute > .element_neutral {
	background-color: #666;
}
div.Skill_scope div.skill_attribute > .element_fire {
	background-color: #ea0000;
}
div.Skill_scope div.skill_attribute > .element_water {
	background-color: #03a9f4;
}
div.Skill_scope div.skill_attribute > .element_earth {
	background-color: #d26900;
}
div.Skill_scope div.skill_attribute > .element_wind {
	background-color: #9aff02;
}
div.Skill_scope div.skill_attribute > .element_light {
	background-color: #f9f900;
}
div.Skill_scope div.skill_attribute > .element_dark {
	background-color: #5b00ae;
}

div.skill_branchs > div.branch div.effective_area {
	border: 1px var(--primary-color-light) solid;
	box-shadow: 0.1rem 0.1rem 0.4rem var(--primary-color-light);
	padding: 0.6rem;
	margin: 0.5rem 0;
	display: inline-block;
}

div.skill_branchs div.effective_area .ball_character {
	background-color: #ff5fb7;
}
div.skill_branchs div.effective_area .ball_target {
	background-color: #2196f3;
}
div.skill_branchs div.effective_area > div > svg {
	min-width: 15rem;
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 20rem) {
	div.skill_branchs div.effective_area > div > svg {
		min-width: auto;
	}
}
div.skill_branchs div.show_area {
	cursor: pointer;
}
div.skill_branchs div.show_area:hover {

}

div.skill_branchs > div.branch .separate_text {
	border-left: 1px var(--primary-color-light) solid;
	border-right: 1px var(--primary-color-light) solid;
	display: inline-block;
	padding: 0 0.5rem;
	margin: 0 0.4rem;
}
div.skill_branchs > div.branch .effect_by_stack .separate_text {
	border-left: 1px #9acbf3 solid!important;
	border-right: 1px #9acbf3 solid!important;
}

div.skill_branchs .skill_from_where_button {
	color: var(--primary-color-light-3);
	cursor: pointer;
	margin: 0 0.2rem;
	border-bottom: 1px var(--primary-color-light) solid;
	transition: 0.3s;
	position: relative;
	white-space: nowrap;
	display: inline-block;
}
div.skill_branchs .skill_from_where_button:hover {
	border-bottom: 1px var(--primary-color-light-2) solid;
}

div.skill_branchs .skill_from_where_button > div.temp {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
}

div.skill_branchs .skill_from_where_button .show_skill_from_where {
	position: relative;
	width: 15rem;
	min-height: 5rem;
	padding: 0.6rem;
	border: 1px var(--primary-color-light) solid;
	box-shadow: 0.1rem 0.1rem 0.4rem var(--primary-color-light);
	background: #FFF;
	z-index: 5;
	color: var(--primary-color-purple);
}
div.skill_branchs .skill_from_where_button .show_skill_from_where span.global_button_1 {
	min-width: 3rem;
	margin: 0.3rem;
}
div.skill_branchs .skill_from_where_button .show_skill_from_where > .button_scope {
	margin-top: 0.4rem;
	text-align: right;
}

div.skill_branchs > .dev_branchDetail {
	padding: 0.6rem;
	font-size: 0.9rem;
	border-left: 2px var(--primary-color-purple) solid;
    border-top: 1px var(--primary-color-light) solid;
}
div.skill_branchs > .dev_branchDetail > .top {
	margin-bottom: 0.8rem;
	color: var(--primary-color-purple);
}
div.skill_branchs > .dev_branchDetail > .top > span {
	display: inline-block;
}
div.skill_branchs > .dev_branchDetail > .top > ._no {
	border-right: 1px var(--primary-color-purple) solid;
	margin-right: 0.4rem;
	padding: 0 0.4rem;
}
div.skill_branchs > .dev_branchDetail td > div._title {
	padding: 0 0.1rem;
	padding-left: 0.6rem;
	border-bottom: 1px var(--primary-color-purple) solid;
	color: var(--primary-color-purple);
	margin-bottom: 0.1rem;
	margin-top: 0.2rem;
}
div.skill_branchs > .dev_branchDetail > table {
	border: 0;
	border-spacing: 0.2rem;
}
div.skill_branchs > .dev_branchDetail > table tr.overwrite > td {
	color: var(--primary-color-light)!important;
}
div.skill_branchs > .dev_branchDetail > table td {
	padding: 0.2rem 0.4rem;
}
div.skill_branchs > .dev_branchDetail > table td._name {
	border-right: 1px var(--primary-color-light) solid;
	color: var(--primary-color-purple);
	text-align: right;
}
div.skill_branchs > .dev_branchDetail > table td._value,
div.skill_branchs > .dev_branchDetail > table ._extra {
	color: var(--primary-color-light-3);
}
div.skill_branchs > .dev_branchDetail > table ._extra {
	border-left: 1px var(--primary-color-light) solid;
}