/*article#SkillQuery {

}
article#SkillQuery > section.main {

}*/


article#SkillQuery div.SkillRoot_scope > div._menu {
}
article#SkillQuery div.SkillRoot_scope > div._menu > ul {
	list-style: none;
	padding: 0;
	margin: 1rem 0;
	border-bottom: 1px var(--primary-color-light) solid;
}
article#SkillQuery div.SkillRoot_scope > div._menu > ul > li {
	display: inline-block;
	padding: 0.6rem 0.8rem;
	margin-bottom: -1px;
	cursor: pointer;
	border-bottom: 1px var(--primary-color-light) solid;
	transition: 0.3s;
}
article#SkillQuery div.SkillRoot_scope > div._menu > ul > li.cur,
article#SkillQuery div.SkillRoot_scope > div._menu > ul > li:hover {
	border-bottom: 1px var(--primary-color-light-3) solid;
	color: var(--primary-color-light-3);
}

article#SkillQuery div.SkillTreeCategory_scope {
}
article#SkillQuery div.SkillTreeCategory_scope > div._menu > ul {
	list-style: none;
	padding: 0 1rem;
	margin: 1rem 0;
}
article#SkillQuery div.SkillTreeCategory_scope > div._menu > ul > li {
	display: inline-block;
	border-bottom: 1px var(--primary-color-light) solid;
	padding: 0.5rem 0.7rem;
	margin: 0.1rem;
	cursor: pointer;
	transition: 0.3s;
}
article#SkillQuery div.SkillTreeCategory_scope > div._menu > ul > li.cur,
article#SkillQuery div.SkillTreeCategory_scope > div._menu > ul > li:hover {
	border-bottom: 1px var(--primary-color-light-3) solid;
	color: var(--primary-color-light-3);
}

article#SkillQuery div.SkillTree_scope {
	overflow-y: auto;
	border-bottom: 1px var(--primary-color-light-2) solid;
	padding-bottom: 1rem;
}
article#SkillQuery div.SkillTree_scope > table {
	border-spacing: 0.2rem;
	box-shadow: 0.1rem 0.1rem 0.4rem var(--primary-color-light);
	margin: 0.4rem;
	border: 1px var(--primary-color-light) solid;
}
article#SkillQuery div.SkillTree_scope > table td {
	text-align: center;
	cursor: pointer;
	border-bottom: 1px var(--primary-color-light) solid;
	padding: 0.4rem;
	min-width: 5rem;
}
article#SkillQuery div.SkillTree_scope > table td.cur,
article#SkillQuery div.SkillTree_scope > table td:hover {
	border-bottom: 1px var(--primary-color-light-3) solid;
	color: var(--primary-color-light-3);
}
article#SkillQuery div.SkillTree_scope > table td > svg {
	fill: var(--primary-color-light);
	vertical-align: middle;
}

article#SkillQuery div.Skill_scope {
	margin-bottom: 2rem;
}
article#SkillQuery div.Skill_scope > div.skill_attributes {
	padding: 0.6rem;
}
article#SkillQuery div.Skill_scope > div.skill_branchs {
	padding: 0.6rem;
	display: inline-block;
}

article#SkillQuery div.Skill_scope div.no_data {
	padding: 1rem;
}

article#SkillQuery div.SkillLevel_scope {
	margin: 1rem 0;
}
article#SkillQuery div.SkillLevel_scope > ul {
	list-style: none;
	margin: 0;
	padding: 0 0.6rem;
}

article#SkillQuery div.SkillLevel_scope > ul > li.cur {
	border-bottom: 1px var(--primary-color-light-3) solid;	
}
article#SkillQuery div.SkillEquipment_scope {
	border-top: 1px var(--primary-color-light) solid;
	border-bottom: 1px var(--primary-color-light) solid;
	padding: 1rem 0.6rem;
}
article#SkillQuery div.SkillEquipment_scope > div,
article#SkillQuery div.SkillEquipment_scope > div > div,
article#SkillQuery div.SkillEquipment_scope > div > ul,
article#SkillQuery div.SkillEquipment_scope > div > ul > li {
	display: inline-block;
}

article#SkillQuery div.SkillEquipment_scope > div {
	padding: 0.3rem 0.4rem;
	border-bottom: 1px var(--promary-color-light-3) solid;
}
article#SkillQuery div.SkillEquipment_scope > div > div {
	margin-right: 0.4rem;
	font-size: 0.9rem;
	color: var(--primary-color-light-3);
}

article#SkillQuery div.SkillEquipment_scope > div > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
article#SkillQuery div.SkillEquipment_scope > div > ul > li {
	padding: 0.2rem 0.4rem;
	border-bottom: 1px var(--primary-color-light) solid;
	margin: 0.2rem;
	transition: 0.3s;
	cursor: pointer;
}
article#SkillQuery div.SkillEquipment_scope > div > ul > li.cur,
article#SkillQuery div.SkillEquipment_scope > div > ul > li:hover {
	border-bottom: 1px var(--primary-color-light-3) solid;
}
article#SkillQuery div.SkillEquipment_scope > div > ul > li > span.icon {
	margin-left: 0.3rem;
}


article#SkillQuery div.CharacterLevel_scope {
	padding: 0 1rem 1rem 1rem;
	display: inline-block;
}
article#SkillQuery div.CharacterLevel_scope > div.title {
	color: var(--primary-color-light-3);
	font-size: 0.9rem;
	margin-right: 0.6rem;
	display: inline-block;
}
article#SkillQuery div.CharacterLevel_scope > span {
	border-radius: 0.2rem;
	padding: 0.3rem;
	cursor: pointer;
	border: 1px var(--primary-color-light-2) solid;
	transition: 0.3s;
}
article#SkillQuery div.CharacterLevel_scope > span:hover {
	border: 1px var(--primary-color-light-3) solid;
}
article#SkillQuery div.CharacterLevel_scope > input {
	padding: 0.3rem;
	border: 0;
	font-size: 1rem;
	color: var(--primary-color-light-3);
	width: 2.5rem;
	text-align: center;
}
article#SkillQuery div.CharacterLevel_scope > input:focus {
	outline: none;
}
article#SkillQuery div.CharacterLevel_scope > span > svg {
	fill: var(--primary-color-light-2);
	vertical-align: middle;
	width: 1.2rem;
	height: 1.2rem;
}


article#SkillQuery div.SwitchDisplayMode_scope {
	display: inline-block;
	padding: 0.6rem;
}
article#SkillQuery div.SwitchDisplayMode_scope > span {
	display: inline-block;
	padding: 0.3rem 0.4rem;
	border-bottom: 1px var(--primary-color-light) solid;
	cursor: pointer;
}
article#SkillQuery div.SwitchDisplayMode_scope > span:hover {
	border-bottom: 1px var(--primary-color-light-3) solid;	
}
article#SkillQuery div.SwitchDisplayMode_scope > span > span.title {
	
}
article#SkillQuery div.SwitchDisplayMode_scope > span > span.icon > svg {
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
	fill: var(--primary-color-light-3);
	margin-right: 0.6rem;
}


article#SkillQuery div.SkillRecord_scope {
	padding: 1rem;
	border-top: 1px var(--primary-color-light-2) solid;
}
article#SkillQuery div.SkillRecord_scope > div {
	display: inline-block;
}
article#SkillQuery div.SkillRecord_scope > div.back_button {
	margin-right: 1.8rem;
	cursor: pointer;
	transition: 0.3s;
}
article#SkillQuery div.SkillRecord_scope > div.back_button > span.icon {
	margin-right: 0.8rem;
}
article#SkillQuery div.SkillRecord_scope > div.back_button > span.caption {
	vertical-align: middle;
	color: var(--primary-color-light-2);
}
article#SkillQuery div.SkillRecord_scope > div.back_button > span.icon > svg {
	vertical-align: middle;
	fill: var(--primary-color-light-2);
	height: 2rem;
	width: 2rem;
}
article#SkillQuery div.SkillRecord_scope > div.back_button:hover svg {
	fill: var(--primary-color-light-3);
}article#SkillQuery div.SkillRecord_scope > div.back_button:hover span.caption {
	color: var(--primary-color-light-3);
}
article#SkillQuery div.SkillRecord_scope > div.tip {
	color: var(--primary-color-light);
	margin-right: 0.6rem;
	vertical-align: middle;
	font-size: 0.9rem;
}
article#SkillQuery div.SkillRecord_scope > div.current_skill {
	vertical-align: middle;
	color: var(--primary-color-purple);
}


article#SkillQuery div.skill_attribute {
	margin: 0.4rem;
	padding: 0.2rem 0.4rem;
	border-bottom: 1px var(--primary-color-light-2) solid;
	display: inline-block;
}
article#SkillQuery div.skill_attribute > span {
	display: inline-block;
}
article#SkillQuery div.skill_attribute > span._icon > svg {
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
	fill: var(--primary-color-dark);
}
article#SkillQuery div.skill_attribute > span._icon {
	margin-right: 0.4rem;
}
article#SkillQuery div.skill_attribute > span._title {
	margin-right: 1rem;
}
article#SkillQuery div.skill_attribute > span._value {
	color: var(--primary-color-light-3);
}
article#SkillQuery div.skill_attribute > span._tail {
	margin-left: 0.5rem;
}


article#SkillQuery span.element_ball {
	height: 0.9rem;
	width: 0.9rem;
	border-radius: 50%;
	vertical-align: middle;
}
article#SkillQuery div.skill_attribute > span.element_value {
	vertical-align: middle;
}

