@keyframes multiple_element {
   0%   { background-color: #999; }
   17%  { background-color: #ea0000; }
   34%  { background-color: #03a9f4; }
   50%  { background-color: #d26900; }
   67%  { background-color: #9aff02; }
   84%  { background-color: #f9f900; }
   100% { background-color: #5b00ae; }
}

@keyframes mark {
   0%   { background-color: var(--primary-light); }
   70%  { background-color: var(--primary-light-2); }
   100% { background-color: var(--primary-light); }
}

@keyframes border_mark {
   0%   { border-left-color: var(--primary-light); }
   70%  { border-left-color: var(--primary-light-2); }
   100% { border-left-color: var(--primary-light); }
}