div.skill_branchs > hr {
	border: 0;
	background-color: var(--primary-light);
	height: 1px;
	margin: 0.6rem 0;
}
div.skill_branchs > div.branch {
	padding: 0 0.4rem;
	position: relative;
}
/*div.skill_branchs > div.branch::before {
	position: absolute;
	top: -0.3rem;
	left: calc(-0.3rem - 1px);
	height: 0.6rem;
	width: 0.6rem;
	border-radius: 50%;
	background-color: var(--primary-light);
	content: '';
}*/

div.skill_branchs > div.branch.is_mark {
	border-left: 2px var(--primary-light-3) solid;
	padding: 0.4rem;
    padding-left: 0.6rem;
}

div.skill_branchs > div.branch div.line_scope {
	padding-left: 0.4rem;
}

div.skill_branchs > div.branch > div.top {
	padding: 0 0.4rem;
	color: var(--primary-purple);
	padding-bottom: 0.2rem;
}

div.skill_branchs > div.branch > div.content > div.scope1 {
	font-size: 0.9rem;
}

div.skill_branchs div.scope1,
div.skill_branchs div.scope2 {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
}

div.skill_branchs div.scope1 > span._main_title {
	margin: 0.2rem 0.3rem;
	display: inline-block;
	color: var(--primary-light-4);
}
div.skill_branchs div.scope1 > span._main_title .light,
div.skill_branchs div.scope1 > span._main_title .skill_from_where_button {
	color: var(--primary-purple);
}

div.skill_branchs > div.branch > .history-date > span {
	color: var(--primary-purple);
}

/* ==========================================================================
   text scope
   ========================================================================== */
div.skill_branchs > div.branch > div.content .text-scope {
	padding: 0.1rem 0.4rem;
    display: inline-block;
}
div.skill_branchs > div.branch > div.content .text-scope.has_icon > .text {
	vertical-align: middle;
}
div.skill_branchs .text-scope.has_icon > .icon {
    vertical-align: middle;
    margin-right: 0.5rem;
}
div.skill_branchs .text-scope.has_icon > .icon > svg {
	height: 1.1rem;
	width: 1.1rem;
	fill: var(--primary-light);
	vertical-align: middle;
}
div.skill_branchs .text-scope.has_icon > .icon > svg > g {
	fill: var(--primary-light);	
}

/* ==========================================================================
   plural texts
   ========================================================================== */
.plural-texts.text-history {
	color: var(--primary-light-2);
	margin-bottom: 0.3rem;
	margin-top: 0.1rem;
}

/* ==========================================================================
   Skill Attribute Scope for Skill Bracnh
   ========================================================================== */
#SkillQuery div.content > div.scope1 > .skill-attribute {
	padding: 0.2rem 0.3rem;
	margin: 0.2rem 0.4rem;
}
#SkillQuery div.content > div.scope1 > .skill-attribute > span {
	line-height: normal;
}

.skill-attribute > .value > .plural-values-icon {
	margin: 0 0.2rem;
}
.skill-attribute > .value > .plural-values-icon > svg {
	fill: var(--primary-purple);
}
.skill-attribute > .value > span.value-history {
	color: var(--primary-light-2);
}

#SkillQuery .skill-attribute.border-mark {
	border: 1px solid var(--primary-light-3);
}

/* ==========================================================================
   content-line
   ========================================================================== */
div.skill_branchs > div.branch > div.content-line {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
div.skill_branchs > div.branch > div.content-line + .content-line {
	margin-top: 0.5rem;
}

div.skill_branchs > div.branch > div.content-line > div.scope2 {
	margin-left: 0.4rem;
}

div.skill_branchs > div.branch > div.content-line > div.scope1,
div.skill_branchs > div.branch > div.content-line > div.scope2 {
    margin-top: 0.1rem;
}
div.skill_branchs > div.branch > div.content-line > .scope-icon {
	margin-right: 0.1rem;
}


/* ==========================================================================
   show skill formula
   ========================================================================== */
div.skill_branchs > div.branch > div.content {
}
div.branch_damage > div.content > div.scope2 > .skill-attribute {
	padding: 0.2rem 0.4rem;
	margin: 0.4rem 0;
	margin-right: 0.4rem;
}
div.branch_damage > div.content > div.scope2 > .separate {
	border-left: 1px solid var(--primary-light-2);
	display: inline-block;
    vertical-align: middle;
    height: 1.9rem;
}
div.branch_damage > div.content > div.scope2 > .separate.space-right {
	margin-right: 0.6rem;
}

/* ==========================================================================
   Skill Branch : tips
   ========================================================================== */
div.skill_branchs > div.branch_tips {
	color: var(--primary-dark-light);
	font-size: 0.9rem;
}

/* ==========================================================================
   Skill Branch : list
   ========================================================================== */
div.skill_branchs > div.branch_list > div.content > ul._lists.is_tips {
	color: var(--primary-dark-light);
	font-size: 0.9rem;
}
div.skill_branchs > div.branch_list > div.content > ul._lists.is_tips > li {
	margin: 0.2rem 0;
}

/* ==========================================================================
   Skill Branch : stack
   ========================================================================== */
div.skill_branchs > div.branch_stack > div.content > div.scope1 {
	margin-right: 0.9rem;
}
div.skill_branchs div.branch_stack > div.content > div.scope2 {
	margin-top: 0.3rem;
}

div.skill_branchs > div.branch_stack > div.content > div.scope2 > input {
	width: 2rem;
}
div.skill_branchs > div.branch_stack > div.content > div.scope2 > .unit {
	margin-right: 0.4rem;
	color: var(--primary-light-4);
}

div.skill_branchs > div.branch .effect-by-stack.dark {
	color: #009688;
}
div.skill_branchs > div.branch .effect-by-stack.dark.value-history {
	color: #67d1c7;
}

div.skill_branchs > div.branch .effect-by-stack {
	color: var(--primary-water-blue);
}
div.skill_branchs > div.branch .effect-by-stack.value-history {
	color: #7fbef1;
}

div.skill_branchs > div.branch .effect-by-stack > .separate_text {
	border-left: 1px var(--primary-water-blue-light) solid;
	border-right: 1px var(--primary-water-blue-light) solid;
}

/* ==========================================================================
   Skill Branch : reference
   ========================================================================== */
div.skill_branchs > div.branch_reference a.url_text {
	color: var(--primary-light-4);
	text-decoration: unset;
}

/* ==========================================================================
   Skill Branch : group
   ========================================================================== */
div.skill_branchs > div.branch.group_content {
	border-left: 2px var(--primary-light) solid;
	padding: 0.4rem 0.6rem;
	opacity: 1;
	margin: 0!important;
}
div.skill_branchs > div.branch.group_title {
	cursor: pointer;
}
div.skill_branchs > div.branch.group_title[data-expanded="0"]:hover {
	border-left-color: var(--primary-light-3);
}
div.skill_branchs > div.branch.group_title[data-expanded="0"] {
	border-left-color: var(--primary-light);
}
/*div.skill_branchs > div.branch.group_title[data-expanded="1"] {
	animation: border_mark 2s infinite;
}*/
div.skill_branchs > div.branch.group_title::before {
	position: absolute;
	top: calc(50% - 0.3rem);
	left: calc(-0.3rem - 1px);
	height: 0.6rem;
	width: 0.6rem;
	border-radius: 50%;
	background-color: var(--primary-light);
	content: '';
}
div.skill_branchs > div.branch.group_title[data-expanded="1"]::before {
	animation: mark 2s infinite;
}

/* ==========================================================================
   Element ball
   ========================================================================== */
div.skill_branchs div.scope1 .skill-attribute > span.element_value {
	vertical-align: baseline;
}
#SkillQuery div.scope1 .skill-attribute > span.element_ball {
	height: 0.6rem;
	width: 0.6rem;
}
div.Skill_scope div.skill-attribute > .element_neutral {
	background-color: #999;
}
div.Skill_scope div.skill-attribute > .element_fire {
	background-color: #ea0000;
}
div.Skill_scope div.skill-attribute > .element_water {
	background-color: #03a9f4;
}
div.Skill_scope div.skill-attribute > .element_earth {
	background-color: #d26900;
}
div.Skill_scope div.skill-attribute > .element_wind {
	background-color: #9aff02;
}
div.Skill_scope div.skill-attribute > .element_light {
	background-color: #f9f900;
}
div.Skill_scope div.skill-attribute > .element_dark {
	background-color: #5b00ae;
}
div.Skill_scope div.skill-attribute > .element_multiple {
	animation: multiple_element 4s infinite;
}

/* ==========================================================================
   effective area
   ========================================================================== */
div.skill_branchs > div.branch div.effective-area {
	border: 1px var(--primary-light) solid;
	box-shadow: 0.1rem 0.1rem 0.4rem var(--primary-light);
	padding: 0.6rem;
	margin: 0.5rem 0;
	display: inline-block;
}

div.skill_branchs div.effective-area .ball_character {
	background-color: #ff5fb7;
}
div.skill_branchs div.effective-area .ball_target {
	background-color: #2196f3;
}
div.skill_branchs div.effective-area > div > svg {
	min-width: 15rem;
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 20rem) {
	div.skill_branchs div.effective-area > div > svg {
		min-width: auto;
	}
}
div.skill_branchs div.show-area {
	cursor: pointer;
	transition: 0.3s;
}
div.skill_branchs div.show-area:hover {
	border-bottom-color: var(--primary-light-4)!important;
}
div.skill_branchs div.show-area:hover > .scope-icon > svg {
	fill: var(--primary-light-4);
}


/* ==========================================================================
   text button
   ========================================================================== */
div.skill_branchs .skill_from_where_button,
div.skill_branchs .show_tag_button {
	color: var(--primary-light-4);
	cursor: pointer;
	margin: 0 0.2rem;
	border-bottom: 1px var(--primary-light) solid;
	transition: 0.3s;
	position: relative;
	white-space: nowrap;
	display: inline-block;
}
div.skill_branchs .skill_from_where_button:hover,
div.skill_branchs .show_tag_button:hover {
	border-bottom-color: var(--primary-light-3);
}

.skill-attribute > .value > .show_tag_button {
	margin: 0;
	border-width: 0;
}

div.skill_branchs .skill_from_where_button > div.temp {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
}

div.skill_branchs .skill_from_where_button .show_skill_from_where {
	position: relative;
	width: 15rem;
	min-height: 5rem;
	padding: 0.6rem;
	border: 1px var(--primary-light) solid;
	box-shadow: 0.1rem 0.1rem 0.4rem var(--primary-light);
	background-color: var(--white);
	z-index: 5;
	color: var(--primary-purple);
}
div.skill_branchs .skill_from_where_button .show_skill_from_where .Cyteria.Button.simple {
	min-width: 3rem;
	margin: 0.3rem;
}
div.skill_branchs .skill_from_where_button .show_skill_from_where > .button_scope {
	margin-top: 0.4rem;
	text-align: right;
}

/* ==========================================================================
   Development Model
   ========================================================================== */
div.skill_branchs > .dev_branchDetail {
	padding: 0.6rem;
	font-size: 0.9rem;
	border-left: 2px var(--primary-purple) solid;
}
div.skill_branchs > .dev_branchDetail > .top {
	margin-bottom: 0.8rem;
	color: var(--primary-purple);
}
div.skill_branchs > .dev_branchDetail > .top > span {
	display: inline-block;
}
div.skill_branchs > .dev_branchDetail > .top > ._no {
	border-right: 1px var(--primary-purple) solid;
	margin-right: 0.4rem;
	padding: 0 0.4rem;
}
div.skill_branchs > .dev_branchDetail td > div._title {
	padding: 0 0.1rem;
	padding-left: 0.6rem;
	border-bottom: 1px var(--primary-purple) solid;
	color: var(--primary-purple);
	margin-bottom: 0.1rem;
	margin-top: 0.2rem;
}
div.skill_branchs > .dev_branchDetail > table {
	border: 0;
	border-spacing: 0.2rem;
}
div.skill_branchs > .dev_branchDetail > table tr.overwrite > td {
	color: var(--primary-light)!important;
}
div.skill_branchs > .dev_branchDetail > table tr.by_default > td {
	color: var(--primary-water-blue)!important;
}
div.skill_branchs > .dev_branchDetail > table tr.overwrite.by_default > td {
	color: var(--primary-water-blue-light)!important;
}
div.skill_branchs > .dev_branchDetail > table td {
	padding: 0.2rem 0.4rem;
}
div.skill_branchs > .dev_branchDetail > table td._name {
	border-right: 1px var(--primary-light) solid;
	color: var(--primary-purple);
	text-align: right;
}
div.skill_branchs > .dev_branchDetail > table td._value,
div.skill_branchs > .dev_branchDetail > table ._extra {
	color: var(--primary-light-4);
}
div.skill_branchs > .dev_branchDetail > table ._extra {
	border-left: 1px var(--primary-light) solid;
}