@font-face {
    font-family: 'Itim';
    src: local('Itim'), 
        url('/dist/fonts/Itim-Regular.woff2') format('woff2'),
        url('/dist/fonts/Itim-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SetoFont';
    src: local('SetoFont'),
        url('/dist/fonts/Setofont.woff2') format('woff2');
}

@font-face {
    font-family: 'SetoFont';
    src: local(Microsoft JhengHei);
    font-weight: normal;
    font-style: normal;
    unicode-range: U+28, U+29;
}

@font-face {
    font-family: 'SetoFont';
    src: url('/dist/fonts/Fruit-icrecream.woff') format('woff'),
        local(Microsoft JhengHei);
    font-weight: normal;
    font-style: normal;
    unicode-range: U+8eb2;
}

@font-face {
    font-family: 'SetoFont';
    src: url('/dist/fonts/XiLiangShaoNv-2.woff') format('woff'),
        local(Microsoft JhengHei);
    font-weight: normal;
    font-style: normal;
    unicode-range: U+95b1, U+9631;
}
/* 
@font-face {
    font-family: 'HandwrittenGirl';
    src: url('HandwrittenGirl.woff2') format('woff2'),
        url('HandwrittenGirl.woff') format('woff');
}
@font-face {
    font-family: 'HandwrittenGirl';
    src: url('setofont-min.woff') format('woff');
    unicode-range: U+3002, U+300c, U+300d, U+ff0c, U+ff1a;
    /* 。 「 」 ， ： *\/
} */

/* @font-face {
    font-family: 'JasonWriting2';
    src: url('JasonWriting2.woff2') format('woff2'),
        url('JasonWriting2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */